---
title: 'Web Development and Solutions'
h1Title: EtaBits Syria
template: site/layout.jade
---

.page-header
	h1
		span.icon-etabits EtaBits Syria
		small  Web Development &amp; Solutions



:markdown
	**EtaBits** is your online business partner which offers the optimum development and support for your Internet-based or Internet-promoted business.

	**EtaBits** is a Syria-based web consultancy, development and solutions firm, combining expertise and user experience to cater to the specific needs of every client and user.

	## Services

	### Website Health Check

	There is much more to a health check than the examination of basic functionality, whether for websites or web apps. To be **secure, accessible, easy to use, user-friendly, and of a high-performance** are the prerequisites for a website to appeal to users. The conent's **optimization and re-usability** guarantee its sustained health ahead.

	Our focus is to help you have a website that has:

	#### <span class="icon-lock"></span> Security
	Penetration testing and security checks are carried out by a team of experts.

	#### <span class="icon-universal-access"></span> Accessibility & Usability
	A website's compatibility with the variety of devices, with all kinds of Internet connection properties, and with the wide array of users make it accessible and usable for everyone, everywhere.

	#### <span class="icon-search"></span> Optimized, User & Search Engine Friendly Content
	Original content is not the end of story, as it also has to be well-organized and optimized to link the user to whatever he might search for.

	#### <span class="icon-cc"></span> Reusable Content & Copyright
	Creative commons, public domain, or copyrighted content... Having proper knowledge of content publication and copyright helps you to define the way people use and share your content and guarantees protection of your rights.

	#### <span class="icon-hourglass"></span> Competence & High Performance
	Fast response is essential for users. If your app or website is slow, you will lose your users to your competitor's app or website.

	### Website Development & Solutions
	We create websites that incorporate the above-mentioned properties, websites that are **secure**, **usable**, **accessible**, **content-optimized**, **user and search-engine friendly**, **properly-copyrighted** and **fast**!

	### Web Hosting
	Our servers in **Germany**, **Singapore**, **United Kingdom**, **Canada** and the **United States** are there to meet your needs.

	### Domain Name Registration
	We help you to choose the right domain for your business: **.sy**, **.com**, **.net**, **.org**, … etc.

	## Service Levels



	### Consultancy
	We are here to answer your questions, clarify your confusion, and give you an overview of the available options.

	### Testing & Reporting
	Our team is always ready to undertake penetration tests, content review, health check and report problems and issues with the best recommendations on how to approach and solve them.

	### Implementation & Supervision
	Our team offers its supervision to pin down problems and implement the best solutions, whether working on your website directly, or with your in-house / 3rd-party team.

	### Integrated Solutions
	Whether you like to be informed about all the aspects of a successful website or you do not want to get involved in technical details, you can trust our comprehensive and well-studied solutions.

	## Additional Services
	Our network of collaborators guarantees the best and most up-to-date solutions for all your technological needs, ranging from high-end mobile applications, to everyday maintenance tasks.

	We aim at the best end-product, its maintenance and updates in the post-delivery phase.

	### Mobile Applications
	We offer you the right product, tailored to your specific needs, whether native **Android**, **iOS**, or **HTML5 Apps**.

	### Networking Setups and Solutions
	Need a 
	<abbr title="Local Area Network">LAN</abbr>
	solution for your home or workplace? Our specialists will walk you through the possible options and solutions, all the pros and cons, and implement the solution of your choice.

	### Maintenance & IT Management
	Our network of
	<abbr title="Information Technology">IT</abbr>
	managers and maintenance experts can help you with your everyday IT-related needs, whether updating your company's software, fixing your non-functional printer, or planning the platform to use for your next project!

	## Portfolio

- portfolio = []
- portfolio.push(['7rf.png', 'https://www.7rf.me', '7rf Arabic Writing Platform']);
- portfolio.push(['bostah.jpeg', 'http://bostah.com', 'Bostah Syrian Drama Portal']);
- portfolio.push(['fairuz.jpeg', 'http://fairuz.lastown.com', 'Fairuz Lyrics Website']);
- portfolio.push(['ardroid.jpeg', 'http://apps.samsung.com/venus/appquery/appDetail.as?appId=com.spapps.ardroid5', 'Ardroid Samsung App (Backend Development)', true]);
- portfolio.push(['officeworlds.jpeg', 'http://www.officeworlds.com/', 'Office Worlds Online Retail Store', 'Co-Development with WebGearMedia.com']);
- portfolio.push(['ecal.jpeg', 'http://esyria.sy/ecal/', 'eSyria Cultural Calendar', true]);
- portfolio.push(['ripaco.jpeg', 'http://ripaco.com', 'Ripaco (Rikabi Paper Conversion)', 'Homepage remake, various modifications']);
- portfolio.push(['zikrana.jpeg', 'http://zikrana.com', 'Zikrana Videograhy Service']);
- portfolio.push(['sns.jpeg', 'http://sns.sy/sns/', 'Syrian News Station', 'Co-Development with Tamayuz.com']);
- portfolio.push(['alrakameiat.jpeg', 'http://www.alrakameiat.com/', 'Al-Rrakameiat IT Newspaper', 'Co-Development with Tamayuz.com']);


.row#portfolio-items
	each site in portfolio
		.col-md-3.col-sm-4.col-xs-6
			a.thumbnail(target='_blank', href=site[1], rel=site[3]?'nofollow':null)
				img(alt=site[2], src='/img/portfolio/#{site[0]}')
				p=site[2]
				if 'string' == typeof site[3]
					span.badge(title=site[3]) ?


:markdown

	## Open Source
	**EtaBits** is an active member of the Open Source community. We build upon the solid grounds provided with open-source software: **GNU, Linux, Nginx, Node.js, PHP, MySQL**... and the list goes on.

	This very site is created using open-source tools, and its complete source is available at
	<a class="icon-github-circled" href="https://github.com/etabits/website">etabits/website</a>.

	### Contributions
	We pay it forward! Our team has contributed with excellent open-source modules for everyone to use:

- repos = []
- repos.push(['etabits/socialiter', 'Extra Lightweight Social-Network Buttons on Your Webpages!']);
- repos.push(['etabits/scroll-spy', 'Vanilla Javascript Scroll Spy ']);
- repos.push(['etabits/wintersmith-nap', 'Minimalistic plugin to connect wintersmith with nap']);
- repos.push(['aularon/node-elephant', 'A fast & memory-efficient data structure that cat tell if it saw a string before']);
- repos.push(['aularon/node-octopus', 'An octopus that can get his hands all over the web.']);

ul.list-unstyled(style='padding-left: 20px')
	each repo in repos
		li
			a.icon-github-circled(href="https://github.com/"+repo[0])=repo[0]
			|  - #{repo[1]}

:markdown

	## Contact

address
	dl
		dt Address
		dd Mezzeh Highway
			br
			| Damascus, Syria
		dt Mobile
		dd +963 988 770321
		dt Email
		dd.email-reverse(style="unicode-bidi:bidi-override; direction: rtl; text-align: left")
			| moc.stibate＠nimda



div.text-center(style='line-height: 1.5em; height: 19em; overflow: hidden')
	.icon-etabits(style='font-size: 4em')
	.icon-etabits(style='font-size: 8em')
	.icon-etabits(style='font-size: 12em')
