---
title: 'Web Development and Solutions'
h1Title: EtaBits Syria
template: site/layout.jade
---

.page-header
	h1
		span.icon-etabits EtaBits Syria
		small  Web Development &amp; Solutions



:markdown
	**EtaBits** is your ultimate online business partner, it helps your business whether it is internet-based or internet-promoted.

	**EtaBits** is a Syria based Web Consultancy, Development & Solutions firm. We aim at providing you with exactly what you need to reach your users and clients.

	## Services

	### Website Health Check

	There are more aspects than basic functionality for websites and webapps to be really useful and appealing for users to use. Websites need to be **strong secure, usable, accessible, fast, user friendly** and their content has to be **strong optimized & reusable**.

	We focus on helping you have a website that has:

	#### <span class="icon-lock"></span> Security
	Our team is proficient at penetration testing & security checks.

	#### <span class="icon-universal-access"></span> Accessibility & Usability
	Your website has to be always accessible and usable, no matter who is using it, and what device is it accessed from.

	#### <span class="icon-search"></span> Optimized, User & Search Engine Friendly Content
	Web is not only about having original content, content has to be organized, optimized, in a both user and search engine friendly manner.

	#### <span class="icon-cc"></span> Reusable Content & Copyright
	Creative Commons, Public Domain, Copyrighted content... you need to know about these, and use the right ones for your content. It helps both, people in using & sharing your content, and you in protecting your rights.

	#### <span class="icon-hourglass"></span> High Performance
	People like the web to be fast! if your app or website is slow, they will move on to your competitor's website.

	### Website Development & Solutions
	We create websites that incorporates all the different aspects mentioned above, a website that is **secure**, **usable & accessible**, **content-optimized**, **user & search engine friendly**, **properly-copyrighted** & **fast!**

	### Web Hosting
	United Kingdom, Canada or United States... we have the server that meets your needs.

	### Domain Name Registration
	We help you choose the right domain for your business: **.sy**, **.com**, **.net**, **.org**, etc.

	## Service Levels



	### Consultancy
	Need help with your website? Not sure what available options are? Our team of industry experts can answer your questions and give you an overview of the available solutions.

	### Testing & Reporting
	Penetration test, content review, health check... our team will test your website for problems, and give you reports on the problems and issues your website is having, with recommendations on how to set them straight.

	### Implementation & Supervision
	Finding the problem is the first step, next you need to implement a solution. We can fix your website problems, or help your in-house / 3rd-party team implement them under our supervision.

	### Integrated Solutions
	Want a solution that takes into account all the aspects of successful websites? Or maybe you don't want to get involved in all the technical details? We can build you the solution that suits your need from A to Z.

	## Additional Services
	We work with a network of professionals to provide you with solutions for all your technological needs, from **High-End Mobile Applications**, down to everyday maintenance tasks.

	Our main goal is to guide the development and test process, in order to deliver the final product in its best shape. And later on, to maintain updates in the post-delivery phase.

	### Mobile Applications
	Whether native **Android**, **iOS**, or **HTML5 Apps**, we can give you the right product tailored to your specific needs.
	### Networking Setups and Solutions
	Need a
	<abbr title="Local Area Network">LAN</abbr>
	solution for your home or workplace? Our specialists will walk you through the possible options and solutions, all the pros and cons, and then implement the solution you choose.

	### Maintenance & IT Management
	Our network of
	<abbr title="Information Technology">IT</abbr>
	managers and maintenance experts can help you with your everyday IT-related needs. From updating your company's software, fixing your non-functional printer, to planning the platform to use for your next project!

	## Portfolio

- portfolio = []
- portfolio.push(['7rf.png', 'https://www.7rf.me', '7rf Arabic Writing Platform']);
- portfolio.push(['bostah.jpeg', 'http://bostah.com', 'Bostah Syrian Drama Portal']);
- portfolio.push(['fairuz.jpeg', 'http://fairuz.lastown.com', 'Fairuz Lyrics Website']);
- portfolio.push(['ardroid.jpeg', 'http://apps.samsung.com/venus/appquery/appDetail.as?appId=com.spapps.ardroid5', 'Ardroid Samsung App (Backend Development)', true]);
- portfolio.push(['officeworlds.jpeg', 'http://www.officeworlds.com/', 'Office Worlds Online Retail Store', 'Co-Development with WebGearMedia.com']);
- portfolio.push(['ecal.jpeg', 'http://esyria.sy/ecal/', 'eSyria Cultural Calendar', true]);
- portfolio.push(['ripaco.jpeg', 'http://ripaco.com', 'Ripaco (Rikabi Paper Conversion)', 'Homepage remake, various modifications']);
- portfolio.push(['zikrana.jpeg', 'http://zikrana.com', 'Zikrana Videograhy Service']);
- portfolio.push(['sns.jpeg', 'http://sns.sy/sns/', 'Syrian News Station', 'Co-Development with Tamayuz.com']);
- portfolio.push(['alrakameiat.jpeg', 'http://www.alrakameiat.com/', 'Al-Rrakameiat IT Newspaper', 'Co-Development with Tamayuz.com']);


.row#portfolio-items
	each site in portfolio
		.col-md-3.col-sm-4.col-xs-6
			a.thumbnail(target='_blank', href=site[1], rel=site[3]?'nofollow':null)
				img(alt=site[2], src='/img/portfolio/#{site[0]}')
				p=site[2]
				if 'string' == typeof site[3]
					span.badge(title=site[3]) ?


:markdown

	## Open Source
	**EtaBits** is an active member of the Open Source community, we build upon the solid greatness provided by many many open-source software: **GNU, Linux, Nginx, Node.js, PHP, MySQL...** and the list goes on and on.

	This very site is created using open-source tools, and its complete source is available at
	<a class="icon-github-circled" href="https://github.com/etabits/website">etabits/website</a>.

	### Contributions
	We keep trying to pay it forward... our team has contributed few open-source modules for everyone to use:

- repos = []
- repos.push(['etabits/socialiter', 'Extra Lightweight Social-Network Buttons on Your Webpages!']);
- repos.push(['etabits/scroll-spy', 'Vanilla Javascript Scroll Spy ']);
- repos.push(['etabits/wintersmith-nap', 'Minimalistic plugin to connect wintersmith with nap']);
- repos.push(['aularon/node-elephant', 'A fast & memory-efficient data structure that cat tell if it saw a string before']);
- repos.push(['aularon/node-octopus', 'An octopus that can get his hands all over the web.']);

ul.list-unstyled(style='padding-left: 20px')
	each repo in repos
		li
			a.icon-github-circled(href="https://github.com/"+repo[0])=repo[0]
			|  - #{repo[1]}

:markdown

	## Contact

address
	dl
		dt Address
		dd Mezzeh Highway
			br
			| Damascus, Syria
		dt Mobile
		dd +963 988 770321
		dt Email
		dd.email-reverse(style="unicode-bidi:bidi-override; direction: rtl; text-align: left")
			| moc.stibate＠nimda



div.text-center(style='line-height: 1.5em; height: 19em; overflow: hidden')
	.icon-etabits(style='font-size: 4em')
	.icon-etabits(style='font-size: 8em')
	.icon-etabits(style='font-size: 12em')
